pkgbase = nodejs-lts-jod
	pkgdesc = Evented I/O for V8 javascript ("Active LTS" release: Jod)
	pkgver = 22.21.0
	pkgrel = 1
	url = https://nodejs.org/
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = procps-ng
	depends = openssl
	depends = zlib
	depends = icu
	depends = libuv
	depends = c-ares
	depends = brotli
	depends = libnghttp2
	optdepends = npm: nodejs package manager
	provides = nodejs=22.21.0
	provides = nodejs-lts
	conflicts = nodejs
	options = !lto
	source = https://nodejs.org/dist/v22.21.0/node-v22.21.0.tar.xz
	sha256sums = 791b18e969ea22cc952108ee8eaafbb12cddfd973bbbb0b7fc116395c0d9a81c

pkgname = nodejs-lts-jod
